body,
h3,
h4,
p {
  margin: 0px;
}

img {
  display: block;
}

div {
  box-sizing: border-box;
}

.page-intro {
  background: linear-gradient(to bottom, #4997dc, #4e64c2);
  color: white;
  display: flex;
  flex-direction: row;
  height: 400px;
}

.intro-left {
  width: 50%;
  padding: 50px 0px 0px 80px;
}

.intro-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
}

.intro-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: gray;
  color: white;
  margin-top: 20px;
}

.page-slogan {
  width: 100%;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-offer {
  background-color: #4e64c2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: white;
}

.offer-title {
  text-align: center;
  margin-bottom: 50px;
}

.offer-main {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.offer-main i {
  background-color: white;
  padding: 25px;
  border: none;
  border-radius: 50%;
  color: #4e64c2;
  margin-bottom: 10px;
}

.page-portfolio {
  text-align: center;
  padding: 30px;
}

.page-imgbox {
  color: white;
  width: 100%;
  height: 600px;
  padding: 0px 50px;
}

.imgbox-container {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.imgbox-content {
  width: 50%;
  height: 100%;
  padding: 50px;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  transition: all 0.5s;
  outline: 3px solid transparent;
  overflow: hidden;
}

.imgbox-content:hover {
  border: 20px solid white;
}

.footer-box {
  padding: 20px;
  text-align: center;
}

.footer-box i {
  background-color: #4e64c2;
  padding: 15px;
  border: none;
  border-radius: 50%;
  color: white;
  margin-bottom: 20px;
  font-size: 25px;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .page-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 595px;
  }
}
