@use '_reset';

$메인칼라: #2a4cb2;
$서브칼라: #eeeeee;
$기본사이즈: 16px;

@mixin 폰트스타일($구멍) {
  font-size: $구멍;
  letter-spacing: -1px;
}

h2 {
  @include 폰트스타일(30px);
  color: reset.$메인칼라2;
}

h3 {
  @include 폰트스타일(30px);
}

%btn {
  width: 100px;
  height: 100px;
  padding: 20px;
}

%box {
  width: 200px;
  height: 200px;
  padding: 20px;
}

.green-box {
  @extend %box;
  background-color: green;
}

.red-box {
  @extend %box;
  background-color: red;
}

.blue-box {
  @extend %box;
  background-color: blue;
}

.btn-green {
  @extend %btn;
  color: green;
}

.background {
  background-color: $메인칼라;
  font-size: $기본사이즈 -2px;
}
