body,
h3,
h4,
p {
  margin: 0px;
}

div {
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.img-box {
  margin-right: 30px;
}

.backcolor-skyblue {
  background-color: #6fbaf8;
}

.color-skyblue {
  color: #6fbaf8;
}

.skyblue-btn {
  background-color: #6fbaf8;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
}

.left-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profile-left {
  border-right: 5px solid #f7f9fc;
}

.profile-right {
  padding: 20px 40px;
}

.white-box {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 2px 1px #eee;
}

.skills-item {
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px 15px;
  margin-right: 20px;
}

.signup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ani-text {
  text-align: center;
}

.ani-text:hover {
  animation-name: 왔다갔다;
  animation-duration: 1s;
}

@keyframes 왔다갔다 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-100px);
  }
  75% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

.wavebtn {
  background-color: skyblue;
  padding: 15px;
  border-radius: 5px;
  border: none;
  color: white;
}

.wavebtn:hover {
  animation-name: waveMove;
  animation-duration: 1s;
}

@keyframes waveMove {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.ani-x {
  font-size: 70px;
  cursor: pointer;
}

.ani-x:hover {
  animation-name: turn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(45deg) scale(2);
  }
}

.ani-navbar {
  width: 250px;
  background-color: black;
  color: white;
  height: 100%;
  padding: 25px;
  position: fixed;
  z-index: 5;
  text-align: right;
  transition: all 1s;
  transform: translateX(-150px);
}

.ani-navbar:hover {
  transform: translateX(0px);
  text-align: center;
}

.ani-navbar:hover p {
  animation-name: slide;
  animation-duration: 1s;
}

@keyframes slide {
  0% {
    transform: translateX(-250px);
  }
  50% {
    transform: translateX(20px) skewX(-30deg);
  }
  100% {
    transform: translateX(0px);
  }
}
